/*Text format styles*/
.left-grid h1{
    text-align: right;
    font-size: 12vw;
}

.right-grid i{
    font-size: 8vw;
    text-align: center;
    vertical-align: middle;
    padding: 1vw;
    padding-left: 1.4vw;
}

.right-grid h2{
    font-size: 8vw;
    text-align: left;
    padding-left: 1vw;
}

.right-grid h3{
    font-size: 4.5vw;
    text-align: center;
}

a, a:hover
{
    color:white;
    text-decoration: none currentColor solid;
}

a:hover{
    opacity: .6;
}
/*Grid layout styles*/
.outer-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    padding-left: 10%;
    padding-right: 10%;

    align-items: center;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.right-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1vw;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}

/*Grid tile styles*/

.right-grid>*{
    border: .5vh solid white;
}

.tile-name{
    grid-column: 2 / 4;
    grid-row: 1;
    display: none;
}

.tile-blog{
    grid-column: 1;
    grid-row: 1;
}

.tile-github{
    grid-column: 3;
    grid-row: 2;
}

.tile-linkedin{
    grid-column: 1;
    grid-row: 3;
}

.tile:before{
    display: block;
    padding-top: 100%;
}

.tile-contact{
    grid-column: 1 / 3;
    grid-row: 2;
    font-size: 8vw;
    word-wrap: break-word;
}

.tile-about{
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

/*.tile-github, .tile-about{
    width: 33%;
    width: calc(100% / 3);
}*/

@media (max-width: 800px){
    .outer-wrapper{
        grid-template-columns: 1fr;
    }

    .right-grid{
        grid-column: 2;
    }

    .left-grid{
        display: none;
    }

    .tile-name{
        display: block;
    }
}
