/*
Reset styles
*/

body {
    background-color: black !important;
    color: white !important;
}

a, a:hover
{
    display: inline;
    color:white;
    text-decoration: none currentColor solid;
}

a:hover{
    opacity: .6;
}

.navbar {
    background: black;
}

.navbar-fixed-top{
    border-bottom-width : .2vw;
}

.navtabs {
    color: white;
    font-size: 20px;
}

.navbar-brand .navtabs {
    font-size: 36px;
}

/*
Text Section styles
*/
.text-section{
    height: auto;
    padding-top: 12vw;
    padding-bottom: 12vw;
}

.text-section h1 {
    font-size: 9vw;
}

.text-section p {
    font-size: 1.5vw;
}

.text-section hr{
    border-top: .5vw solid #eee;
}

img {
    border: .5vw solid #eee;
}


/*
Layout styles
*/

.vertical-align{
    display: flex;
    align-items: center;
}